<section id="register">
<!-- Page Content -->
{% for post in site.posts reversed %}
{% if post.category == 'Register' %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="content-section-a">

        <div class="container">

 
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% endif %}
{% endfor %}
</section>
