<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{{% include gallery.html %}}
		{% include header.html %}
		{{% include about_content.html %}}
		{{% include project_content.html %}}
		{{% include autor_content.html %}}
		{{% include company_content.html %}}
		{{% include register_content.html %}}
		{{% include about_content.html %}}
		{% include offer_content.html %}

		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
	<script type="text/javascript">
	$(document).ready(function () {
		$(".youtube").YouTubeModal({autoplay:0, width:640, height:480});
		$('.popover-markup>.trigger').popover({
    	html: true,
    	title: function () {
       	 return $(this).parent().find('.head').html();
   	 	},
    	content: function () {
        	return $(this).parent().find('.content').html();
    	}

		});
		$(".youtube").YouTubeModal({autoplay:0, width:640, height:480});
 
}); 



</script>
		{% include yandex.metrika.html %}
</html>
